gcmApiKey: GCM_API_KEY

couchDb:
  url: COUCHDB_URL
  dbPrefix: ods
  maxConnections: COUCHDB_MAX_CONNECTIONS
  admin:
    username: admin
    password: COUCHDB_ODSADMIN_PASSWORD

server:
  adminContextPath: ODS_ADMIN_CONTEXT_PATH
  applicationContextPath: ODS_CONTEXT_PATH/api

auth:
  userServiceUrl: USER_SERVICE_URL
  userServiceHealthcheckUrl: USER_SERVICE_HEALTH_URL
