gcmApiKey: GCM_API_KEY

couchDb:
  url: http://localhost:5984/
  dbPrefix: ods
  maxConnections: 100
  admin:
    username: ADMIN_USERNAME
    password: ADMIN_PASSWORD

server:
  applicationContextPath: /ods
  
messaging:
  brokerHost: localhost
  brokerVHost: /
  brokerPort: 5672
  brokerManagementPort: 15672
  brokerUserName: guest
  brokerPassword: guest

auth:
  userServiceUrl: http://localhost:8090/ods/userservice/api/v1
  userServiceHealthcheckUrl: http://localhost:8091/healthcheck

