gcmApiKey: GCM_API_KEY

couchDb:
  url: http://localhost:5984/
  dbPrefix: ods
  maxConnections: 100
  admin:
    username: ADMIN_USERNAME
    password: ADMIN_PASSWORD

server:
  applicationContextPath: /ods/api

messaging:
  brokerUrl: http://localhost:5672/
  brokerUserName: guest
  brokerPassword: guest

auth:
  userServiceUrl: http://localhost:8090/ods/userservice/api/v1
  userServiceHealthcheckUrl: http://localhost:8091/healthcheck

